$accordian:       #54565A;
$accordian-hover: #B4DC7F;
$lists:           #D7DAE5;
$lists-hover:     #B9CDDA;
$background:      #F7B1AB;


* {margin: 0; padding: 0;}

li {list-style-type: none;}

body {
	background:  $background;
	font-family: 'Roboto', sans-serif;
}

#accordian {
	background: $lists;
	color:      $lists;
	width:      260px;
	margin:     78px auto 0 auto;
}

#accordian h3 {
	font-size:    16px;
	line-height:  48px;
   padding-left: 20px;
	cursor:       pointer;
	background-color: $accordian;

   &:hover {
     background-color: $accordian-hover;
	  color: $accordian;
   }

	.icon {
		margin-left: 10px;
		margin-right: 24px;
	}
}

a {
	display: block;
   color:   $accordian;
	font-size:    14px;
	line-height:  36px;
	padding-left: 28px;
	margin-right: 0;
	text-decoration: none;

   &:hover {
     background-color: $lists-hover;
   }
}

#accordian ul ul {display: none;}

#accordian li.active ul {display: block;}

#accordian li.active h3 {display: block;}
